{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buy item</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>

<section>
    <div class="product">
        <div class="description">
            <h3>Название: {{ product.name }}</h3>
            <h4>Описание: {{ product.description }}</h4>
            <h5>Цена: ${{ product.get_str_to_dollars }}</h5>
        </div>
    </div>
    <button type="button" id="checkout-button">Checkout</button>
</section>

{% csrf_token %}

<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    let checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("{% url 'create-checkout-session' product.id %}", {
            method: "POST",
            headers: {
                'X-CSRFToken': csrftoken
            }
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({sessionId: session.id});
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>
</body>
</html>